* {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: rgb(54, 54, 54);
  text-align: center;
  margin: 0;
  color: rgb(248, 244, 244);
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999px;
  box-shadow: 0px 0px 6px 0px rgba(136, 134, 134, 0.5);
}

footer{
  background-color: rgb(54, 54, 54);
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgb(248, 244, 244);
}

.type-buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  background-color: rgb(54, 54, 54);
  width: 100%;
}

.btn-dark {
  margin: 10px;
  border-radius: 8px;
  padding: 5px;
}

.animals-parent {
  padding: 110px;
  display: flex;
  max-width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items:stretch;
}

.card-body {
  background-color: antiquewhite;
  width: 25rem;
  max-height: 50rem;
  margin: 8px;
  border:groove;
  border-radius: 20px;
  align-self: auto;
}

.card-text {
  margin: 15px 35px 8px 35px;
  text-align: justify;
}

.d-block {
  max-height: 40%;
}

.form-section {
  width: 90%;
  margin: auto;
}

.form {
  padding: 15px;
}

.intrested-part, .animal-part {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  justify-content: center;
}

legend {
  text-align: center;
  padding: 5px;
  margin: 10px;
}

.intrested-part {
  flex-direction: column;
  align-items: center;
}

#endereco {
  align-self: stretch;
}

input[type=text], input[type=email] {
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
}

textarea {
  width: 50%;
  resize: none;
}

.living-type {
  margin: 10px;
  padding: 5px;
}

input[type=radio] {
  margin: 5px;
  padding: 2px;
}

.confirmation-section {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=checkbox] {
  margin: 5px;
  padding: 2px;
}

.send-form {
  margin: 10px;
  padding: 5px;
}
